# boolian masking

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("netflix_titles_2021.csv")

In [49]:
df.head(100)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
95,s96,TV Show,The Circle,NaN,Michelle Buteau,"United States, United Kingdom","September 8, 2021",2021,TV-MA,3 Seasons,Reality TV,Status and strategy collide in this social exp...
96,s97,Movie,If I Leave Here Tomorrow: A Film About Lynyrd ...,Stephen Kijak,"Ronnie Van Zandt, Gary Rossington, Allen Colli...",United States,"September 7, 2021",2018,TV-MA,97 min,"Documentaries, Music & Musicals","Using interviews and archival footage, this do..."
97,s98,TV Show,Kid Cosmic,NaN,"Jack Fisher, Tom Kenny, Amanda C. Miller, Kim ...",United States,"September 7, 2021",2021,TV-Y7,2 Seasons,"Kids' TV, TV Comedies, TV Sci-Fi & Fantasy",A boy's superhero dreams come true when he fin...
98,s99,TV Show,Octonauts: Above & Beyond,NaN,"Antonio Aakeel, Chipo Chung, Simon Foster, Ter...",United Kingdom,"September 7, 2021",2021,TV-Y,1 Season,"British TV Shows, Kids' TV",The Octonauts expand their exploration beyond ...
99,s100,TV Show,On the Verge,NaN,"Julie Delpy, Elisabeth Shue, Sarah Jones, Alex...","France, United States","September 7, 2021",2021,TV-MA,1 Season,"TV Comedies, TV Dramas","Four women — a chef, a single mom, an heiress ..."

## pivot

In [7]:
pivot=pd.pivot_table(columns='rating',values='release_year',data=df,aggfunc='median')

In [9]:
pivot.T

          release_year
rating
66 min            2015
74 min            2017
84 min            2010
G                 2004
NC-17             2014
NR                2015
PG                2012
PG-13             2011
R                 2014
TV-14             2017
TV-G              2018
TV-MA             2018
TV-PG             2017
TV-Y              2018
TV-Y7             2017
TV-Y7-FV          2015
UR                2008

# boolean maskig

In [13]:
b=(False,True,False,True,False,True,False,True,False,True,False,True,False,True,False,True,)
len(b)

16

In [18]:
twopowers_sr=pd.Series([1,25,35,45,55,52125,525,26,3,56,6,5,8,62])
BM=[False,True,False,True,False,True,False,True,False,True,False,True,False,True]
twopowers_sr[BM]

1        25
3        45
5     52125
7        26
9        56
11        5
13       62
dtype: int64

# Number Of Movies Released In 2020

In [21]:
BM=df.release_year==2020

In [22]:
df[BM].country.value_counts()

United States                             336
India                                      75
United Kingdom                             44
South Korea                                28
Canada                                     26
                                         ...
Germany, Czech Republic                     1
United States, Bulgaria                     1
United Kingdom, France, Germany, Spain      1
Thailand, United States                     1
United States, South Korea, China           1
Name: country, Length: 107, dtype: int64

# Display The TV Shows

In [24]:
BM=df.type=='TV Show'

In [29]:
df.type.value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

# Display The Ratings Of T.V shows In Each Year

In [44]:
BM=df.type=='TV Show'
df[BM].release_year.value_counts()

2020    436
2019    397
2018    380
2021    315
2017    265
2016    244
2015    162
2014     88
2012     64
2013     63
2010     40
2011     40
2009     34
2008     23
2006     14
2007     14
2005     13
2003     10
2004      9
1999      7
2002      7
2001      5
1993      4
2000      4
1997      4
1998      4
1990      3
1996      3
1992      3
1995      2
1994      2
1988      2
1986      2
1989      1
1967      1
1985      1
1946      1
1981      1
1972      1
1979      1
1977      1
1991      1
1974      1
1925      1
1945      1
1963      1
Name: release_year, dtype: int64

In [41]:

# create a boolean mask to extract only the TV shows
mask = df["type"] == "TV Show"

# use the boolean mask to extract only the TV shows
tv_shows = df[mask]

# group the TV shows by release year
grouped = tv_shows.groupby("release_year")

# calculate the mean rating for each group
mean_ratings = grouped["rating"].mean()

# display the mean ratings
print(mean_ratings)

TypeError: Could not convert TV-14 to numeric

# Number Of Countries Which Released Shows on 27 /08/2021

In [45]:
BM=df.date_added=='Augest_7, 2021'

In [47]:
df[BM].country.value_counts()

Series([], Name: country, dtype: int64)

In [51]:
mask = df["date_added"] == " Augest_21, 2021 "

In [52]:
Augest_21,_2021 = df[mask]
num_countries = shows_Augest_21,_2021["country"].nunique()

ValueError: too many values to unpack (expected 2)